# Requirements for Image Classification Project
# This file lists the necessary packages for the project.
# To install the packages, run:
# pip install -r requirements.txt

protobuf==3.20.3
# Core Libraries
#numpy==1.26.4
#pandas
#scikit-learn
#matplotlib
#seaborn
#plotly
#openpyxl

numpy==1.26.4
pandas>=2.1.0
scikit-learn==1.7.0
matplotlib==3.10.3
seaborn==0.13.2
plotly>=5.17.0
openpyxl==3.1.2
#python==3.10


# ML Frameworks
#torch==2.1.2
#torchvision==0.16.2
tensorflow==2.15.0
xgboost>=1.7.4


# ML Frameworks .
torch
torchvision
tensorflow
xgboost


# Image Processing & Augmentation
opencv-python
Pillow
albumentations
imageio
scikit-image

# Utilities
tqdm
pyyaml
utils

# Visualization & Notebooks
notebook
#streamlit
streamlit>=1.28.0
shap

# Model Export
onnx
onnxruntime

# Env Handling
python-dotenv

# Optional
pytorch-lightning

# For Model Hub Integration
huggingface_hub
