# Requirements for Image Classification Project
# This file lists the necessary packages for the project.
# To install the packages, run:
# pip install -r requirements.txt

protobuf==3.20.3
# Core Libraries
numpy
pandas
scikit-learn
matplotlib
seaborn
plotly
openpyxl



# ML Frameworks .
torch
torchvision
tensorflow
xgboost


# Image Processing & Augmentation
opencv-python
Pillow
albumentations
imageio
scikit-image

# Utilities
tqdm
pyyaml
utils

# Visualization & Notebooks
notebook
#streamlit
streamlit>=1.28.0
shap

# Model Export
onnx
onnxruntime

# Env Handling
python-dotenv

# Optional
pytorch-lightning

# For Model Hub Integration
huggingface_hub
